<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Ruby.ci fastest Ruby on Rails CI in cloud</title>

    <%= favicon_link_tag 'favicon.svg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      // Tailwind customizations
      tailwind.config = {
        theme: {
          extend: {
            screens: {
              'xs': '480px',
            },
          },
        },
      }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <style>
      html, body {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
      }
      #footer-imgs {
        zoom: 50%;
        @media only screen and (min-width: 1024px) {
          zoom: 100%;
        }
      }
    </style>
    <%#= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
    <%= raw @settings['codeinjection_head'] %>
    <%= render 'layouts/partials/scripts_header' %>
    <%= render 'layouts/partials/pricing_script' if action_name == 'pricing' %>
  </head>

  <body class="bg-gray-900 relative">
    <%#= render 'layouts/partials/top' %>
    <%= render 'layouts/partials/header' %>
    <div class="page-wrapper">
      <%= yield %>
      <%= render 'layouts/partials/footer' %>
    </div>
    <%= raw @settings['codeinjection_foot'] %>
  </body>
</html>
