<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <title><%= content_for(:title) || "Account" %></title>
  <% Administrate::Engine.stylesheets.each do |css_path| %>
    <%= stylesheet_link_tag css_path %>
  <% end %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <div class="app-container">
    <main class="main-content" style="max-width: 600px; margin: 4rem auto;">
      <% flash.each do |type, message| %>
        <div class="flashes flashes--<%= type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </div>
</body>
</html>
